{% extends 'base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">View The Possibilites at Different Prrice Points</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 Recipients</li>
                    <li>10 GB of storage </li>
                    <li>50 Messages</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>
                <a href="{% url 'signup' %}" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>20 Recipients</li>
                    <li>100 GB of storage</li>
                    <li>200 Messages</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                </ul>
                <a href="{% url 'signup' %}" class="btn btn-lg btn-block btn-primary">Get started</a>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Unlimited Recipients</li>
                    <li>1000 GB of storage</li>
                    <li>Unlimited Messages</li>
                    <li>Phone and email support</li>
                    <li>Help center access</li>
                </ul>
                <a href="{% url 'signup' %}" class="btn btn-lg btn-block btn-primary">Get started</a>
            </div>
        </div>
    </div>
</div>
<section class="landing1about">
    <div class="l1Header">
        <div class="l1titleabout">
            <h1>Communication For Large Scale</h1>
            <h1>Buisnesses Made Easy</h1>
        </div>

        <div class="grid-container">
            <!-- <div class="row row-cols-2"> -->
            <div class="grid-item">
                <h2 class="animate__animated animate__fadeInUp">Helping you grow</h2>
                <p>
                    While today's communcation tools are great for the general public, they do not serve businesses and teams who are working to be more efficient. inTouch builds communication while streamlining efficiency.
                </p>
                <a class="btn btn-outline-primary" href="{% url 'signup' %}">Get Started</a>
            </div>
            <div class="grid-item">
                <h2 class="animate__animated animate__fadeInUp">Uniting All Your Employees and Team Members</h2>
                <p>
                    inTouch allows managers to directly notify their team members via direct, individually customizable text messages with a single click. Team members will receive updates directly to their phone without the privacy concerns or annoyance of group texts.
                </p>
                <a class="btn btn-outline-primary" href="{% url 'signup' %}">Get Started</a>
            </div>
            <div class="grid-item">
                <h2 class="animate__animated animate__fadeInUp">Simple Fast Connection at Your Fingertips</h2>
                <p>
                    The rise in remote work is creating a market for consumer applications that are simple, easy to use and require no extra hardware. inTouch replaces cumbersome group texts while still allowing seamless communication between managers and team members.
                </p>
                <a class="btn btn-outline-primary" href="{% url 'signup' %}">Get Started</a>
            </div>
            <div class="grid-item">
                <h2 class="animate__animated animate__fadeInUp">Keep Track Of All Events, Notifications, and Alerts</h2>
                <p>
                    inTouch uses Twilio as its API messaging service. Twilio is used by Fortune 500 companies all over the world. It is praised by developers and users alike for its dependability and security.
                </p>
                <a class="btn btn-outline-primary" href="{% url 'signup' %}">Get Started</a>
            </div>
            <!-- </div> -->
        </div>
    </div>
</section>
{% endblock %}