{% extends 'base.html' %}
{% block content %}


<div class="card">
    <div class="card-body">
        <span class="card-title">
            <p><span>Name:</span> {{ profile.user }}</p>
        </span>
        <p><span>City:</span> {{ profile.city }}</p>
        <p><span>State:</span> {{ profile.state }}</p>
        <p><span>Phone:</span> {{ profile.ph_number }}</p>
        <p><span>Business:</span> {{ profile.business }}</p>
    </div>
    <a class="btn btn-primary" href="{% url 'profile_update' profile.id%}">Edit Profile</a>
</div>

{% endblock %}