{% extends 'base.html' %}
{% block content %}


<div class="card">
    <div class="card-body">
        <span class="card-title">
            <p>Name: {{ profile.user }}</p>
        </span>
        <p>City: {{ profile.city }}</p>
        <p>State: {{ profile.state }}</p>
        <p>Phone: {{ profile.ph_number }}</p>
        <p>ID: {{ profile.user.id }}</p>
        <p>Business: {{ profile.business }}</p>
    </div>
    <a class="btn btn-primary" href="{% url 'profile_update' profile.id%}">Edit Profile</a>
</div>

{% endblock %}